<?xml version="1.0" encoding="iso-8859-1"?>
<!--- 
	XML Exam settings import File Syntax
	Version: 	0.1
	Authors:	jampedan@zhaw,lukessim@zhaw
 -->
<settings>
	<subject>ADS</subject>
	<examTitle>Algorithmen und Datenstrukturen</examTitle>
	<examNotes>Es sind mehrere Antworten möglich</examNotes>
	<examDate>14.11.2014</examDate>
	<startTime>01:00</startTime>
	<endTime>23:00</endTime>
	<duration>10</duration>
</settings>