@charset "UTF-8";
body {
	margin:0px;
	font-size: 16px;
	font-family: "RobotoDraft", Helvetica, Arial, sans-serif;
	font-weight: 300;
	line-height: 24px;
	background-color: #f4f4f4;
}

.paper {
	box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.75);
}

.header {
	width: 100%;
	background-color: #3e50b4;
	height: 90px;
	position: fixed;
	top: 0;
	color: #fff;
	padding-left: 3%;
	z-index: 20;
}

.headerNotes {
	position: absolute;
	top: 5px;
	right: 8%;
	text-align: right;
}

.headerTitle {
	font-size: 28px;
	margin-top: 55px;
	font-weight: bold;
}

.examNotes {
	background-color: #334293;
	top: 74px;
	position: relative;
	z-index: -2;
	min-height: 230px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 25px;
	padding-top: 10px;
	width: 94%;
	color: #fff;
}

.examContainer {
	position: relative;
	width: 94%;
	margin: 0px auto;
	z-index: 10;
	top: -20px;
	margin-bottom: 3%;
	background-color: white;
}

.center {
	margin: 0px auto;
	text-align: center;
}

.longShizzle {
	display: inline-block;
	width: 100%;
	word-wrap: break-word;
}
.hidden {
	display: none;
}
.question {
	width: 100%;
}
.questionText {
	width: 100%;
	color: black;
	font-weight: 600;
	min-height: 80px;
	padding: 43px 0px 0px 32px;
}
.answer {
	width: 100%;
	padding: 0px 0px 10px 32px;
}
.textBox {
	width: 93%;
}
.zhaw {
	font-weight: 600;
	font-size: 18px;
	padding-right: 135px;
}